<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-brand">
      <span class="logo">LBRCC</span>
      <p>Leighton Buzzard Road Cycling Club</p>
    </div>
    <div class="footer-links">
      <a href="https://www.facebook.com/groups/LBRCC/" target="_blank" rel="noopener">Facebook</a>
      <a href="https://twitter.com/lbrcc" target="_blank" rel="noopener">X / Twitter</a>
      <a href="https://www.strava.com/clubs/leighton-buzzard-road-cycling-club-lbrcc" target="_blank" rel="noopener">Strava</a>
      <a href="https://connect.garmin.com/group/179308" target="_blank" rel="noopener">Garmin</a>
    </div>
  </div>
</footer>
